#root,
.app-container {
  height: 100%;
  width: 100%;
  flex-wrap: nowrap !important;
}

.app-container {
  flex-direction: column;
}

nav {
  background: #333;
  color: #fff;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
}

button,
input {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.login-button {
  background: #333;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
  transition: all 0.2s ease-in-out;
  min-width: 11rem;
  min-height: 2rem;
}

.login-button:hover:enabled {
  background: #fff;
  color: #333;
}

.login-button:disabled {
  cursor: not-allowed;
}

.spinner {
  margin: auto;
  border: 2px solid #444;
  border-top: 2px solid #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex-grow: 0;
}

.content {
  overflow: hidden;
}

.paperfax {
  flex-basis: 20rem;
  flex-grow: 200;
  max-width: 40rem;
  padding: 1rem;
  box-sizing: border-box;
  max-height: 100%;
  overflow: auto;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
}

.paper-search {
  padding-top: 1rem;
}

.search-wrapper {
  display: flex;
  justify-content: center;
}

.search-wrapper input {
  font-size: 1.5rem;
  width: 80%;
  max-width: 40rem;
}

.search-wrapper button {
  font-size: 1.5rem;
}

.modal-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s ease-out;
  visibility: hidden;
  z-index: 999;
}

.modal {
  background: #fff;
  border-radius: 0.25rem;
  max-height: 80vh;
  max-width: 40rem;
  overflow: auto;
  padding: 3rem;
  position: relative;
  transition: 0.2s ease-out;
}

.modal-container.open {
  opacity: 1;
  visibility: visible;
}
